body
{
    margin:0px;
    padding:0!important;
}

.article-wrapper
{
    margin-top: 50px;
    margin-bottom: 70px;
}

.article-wrapper:last-of-type
{
    margin-bottom: 0px;
}

.article-wrapper h1
{

}

.article-wrapper h3
{
    margin-top: 10px;
    color: #aaaaaa;
}

.article-wrapper p
{
    margin-top: 20px;
}

.admin-article-list .button-group li a
{
    margin-top:10px;
    margin-bottom:10px;
}
